<h1>Instant NPCs</h1>
<p>Sometimes the players will come across someone who becomes important in the moment. When the ritual goes wrong and a poor captive gets the power cosmic what does that villager do with it? Who were they?</p>
<p>When you need a quick NPC all you need is an instinct and some way to pursue it. We call that a knack, it can be anything from a skill to a title to a debt owed. Combine the two and you have an NPC who has something they want and a way to try to get it—you’re ready to go.</p>
<h2>100 Instincts</h2>
<ol><li class="NumberedList">To avenge</li>
<li class="NumberedList">To spread the good word</li>
<li class="NumberedList">To reunite with a loved one</li>
<li class="NumberedList">To make money</li>
<li class="NumberedList">To make amends</li>
<li class="NumberedList">To explore a mysterious place</li>
<li class="NumberedList">To uncover a hidden truth</li>
<li class="NumberedList">To locate a lost thing</li>
<li class="NumberedList">To kill a hated foe</li>
<li class="NumberedList">To conquer a faraway land</li>
<li class="NumberedList">To cure an illness</li>
<li class="NumberedList">To craft a masterwork</li>
<li class="NumberedList">To survive just one more day</li>
<li class="NumberedList">To earn affection</li>
<li class="NumberedList">To prove a point</li>
<li class="NumberedList">To be smarter, faster and stronger</li>
<li class="NumberedList">To heal an old wound</li>
<li class="NumberedList">To extinguish an evil forever</li>
<li class="NumberedList">To hide from a shameful fact</li>
<li class="NumberedList">To evangelize</li>
<li class="NumberedList">To spread suffering</li>
<li class="NumberedList">To prove worth</li>
<li class="NumberedList">To rise in rank</li>
<li class="NumberedList">To be praised</li>
<li class="NumberedList">To discover the truth</li>
<li class="NumberedList">To make good on a bet</li>
<li class="NumberedList">To get out of an obligation</li>
<li class="NumberedList">To convince someone to do their dirty work</li>
<li class="NumberedList">To steal something valuable</li>
<li class="NumberedList">To overcome a bad habit</li>
<li class="NumberedList">To commit an atrocity</li>
<li class="NumberedList">To earn renown</li>
<li class="NumberedList">To accumulate power</li>
<li class="NumberedList">To save someone from a monstrosity</li>
<li class="NumberedList">To teach</li>
<li class="NumberedList">To settle down</li>
<li class="NumberedList">To get just one more haul</li>
<li class="NumberedList">To preserve the law</li>
<li class="NumberedList">To discover</li>
<li class="NumberedList">To devour</li>
<li class="NumberedList">To restore the family name</li>
<li class="NumberedList">To live a quiet life</li>
<li class="NumberedList">To help others</li>
<li class="NumberedList">To atone</li>
<li class="NumberedList">To prove their worth</li>
<li class="NumberedList">To gain honor</li>
<li class="NumberedList">To expand their land</li>
<li class="NumberedList">To gain a title</li>
<li class="NumberedList">To retreat from society</li>
<li class="NumberedList">To escape</li>
<li class="NumberedList">To party</li>
<li class="NumberedList">To return home</li>
<li class="NumberedList">To serve</li>
<li class="NumberedList">To reclaim what was taken</li>
<li class="NumberedList">To do what must be done</li>
<li class="NumberedList">To be a champion</li>
<li class="NumberedList">To avoid notice</li>
<li class="NumberedList">To help a family member</li>
<li class="NumberedList">To perfect a skill</li>
<li class="NumberedList">To travel</li>
<li class="NumberedList">To overcome a disadvantage</li>
<li class="NumberedList">To play the game</li>
<li class="NumberedList">To establish a dynasty</li>
<li class="NumberedList">To improve the realm</li>
<li class="NumberedList">To retire</li>
<li class="NumberedList">To recover a lost memory</li>
<li class="NumberedList">To battle</li>
<li class="NumberedList">To become a terror to criminals</li>
<li class="NumberedList">To raise dragons</li>
<li class="NumberedList">To live up to expectations</li>
<li class="NumberedList">To become someone else</li>
<li class="NumberedList">To do what can’t be done</li>
<li class="NumberedList">To be remembered in song</li>
<li class="NumberedList">To be forgotten</li>
<li class="NumberedList">To find true love</li>
<li class="NumberedList">To lose their mind</li>
<li class="NumberedList">To indulge</li>
<li class="NumberedList">To make the best of it</li>
<li class="NumberedList">To find the one</li>
<li class="NumberedList">To destroy an artifact</li>
<li class="NumberedList">To show them all</li>
<li class="NumberedList">To bring about unending summer</li>
<li class="NumberedList">To fly</li>
<li class="NumberedList">To find the six-fingered man</li>
<li class="NumberedList">To wake the ancient sleepers</li>
<li class="NumberedList">To entertain</li>
<li class="NumberedList">To follow an order</li>
<li class="NumberedList">To die gloriously</li>
<li class="NumberedList">To be careful</li>
<li class="NumberedList">To show kindness</li>
<li class="NumberedList">To not screw it all up</li>
<li class="NumberedList">To uncover the past</li>
<li class="NumberedList">To go where no man has gone before</li>
<li class="NumberedList">To do good</li>
<li class="NumberedList">To become a beast</li>
<li class="NumberedList">To spill blood</li>
<li class="NumberedList">To live forever</li>
<li class="NumberedList">To hunt the most dangerous game</li>
<li class="NumberedList">To hate</li>
<li class="NumberedList">To run away</li></ol>
<h2>100 Knacks</h2>
<ol><li class="ReNumberedList">Criminal connections</li>
<li class="ReNumberedList">Muscle</li>
<li class="ReNumberedList">Skill with a specific weapon</li>
<li class="ReNumberedList">Hedge wizardry</li>
<li class="ReNumberedList">Comprehensive local knowledge</li>
<li class="ReNumberedList">Noble blood</li>
<li class="ReNumberedList">A one-of-a-kind item</li>
<li class="ReNumberedList">Special destiny</li>
<li class="ReNumberedList">Unique perspective</li>
<li class="ReNumberedList">Hidden knowledge</li>
<li class="ReNumberedList">Magical awareness</li>
<li class="ReNumberedList">Abnormal parentage</li>
<li class="ReNumberedList">Political leverage</li>
<li class="ReNumberedList">A tie to a monster</li>
<li class="ReNumberedList">A secret</li>
<li class="ReNumberedList">True love</li>
<li class="ReNumberedList">An innocent heart</li>
<li class="ReNumberedList">A plan for the perfect crime</li>
<li class="ReNumberedList">A one-way ticket to paradise</li>
<li class="ReNumberedList">A mysterious ore</li>
<li class="ReNumberedList">Money, money, money</li>
<li class="ReNumberedList">Divine blessing</li>
<li class="ReNumberedList">Immunity from the law</li>
<li class="ReNumberedList">Prophecy</li>
<li class="ReNumberedList">Secret martial arts techniques</li>
<li class="ReNumberedList">A ring of power</li>
<li class="ReNumberedList">A much-needed bag of taters</li>
<li class="ReNumberedList">A heart</li>
<li class="ReNumberedList">A fortified position</li>
<li class="ReNumberedList">Lawmaking</li>
<li class="ReNumberedList">Tongues</li>
<li class="ReNumberedList">A discerning eye</li>
<li class="ReNumberedList">Endurance</li>
<li class="ReNumberedList">A safe place</li>
<li class="ReNumberedList">Visions</li>
<li class="ReNumberedList">A beautiful mind</li>
<li class="ReNumberedList">A clear voice</li>
<li class="ReNumberedList">Stunning looks</li>
<li class="ReNumberedList">A catchy tune</li>
<li class="ReNumberedList">Invention</li>
<li class="ReNumberedList">Baking</li>
<li class="ReNumberedList">Brewing</li>
<li class="ReNumberedList">Smelting</li>
<li class="ReNumberedList">Woodworking</li>
<li class="ReNumberedList">Writing</li>
<li class="ReNumberedList">Immunity to fire</li>
<li class="ReNumberedList">Cooking</li>
<li class="ReNumberedList">Storytelling</li>
<li class="ReNumberedList">Ratcatching</li>
<li class="ReNumberedList">Lying</li>
<li class="ReNumberedList">Utter unremarkableness</li>
<li class="ReNumberedList">Mind-bending sexiness</li>
<li class="ReNumberedList">Undefinable coolness</li>
<li class="ReNumberedList">A way with knots</li>
<li class="ReNumberedList">Wheels of polished steel</li>
<li class="ReNumberedList">A magic carpet</li>
<li class="ReNumberedList">Endless ideas</li>
<li class="ReNumberedList">Persistence</li>
<li class="ReNumberedList">A stockpile of food</li>
<li class="ReNumberedList">A hidden path</li>
<li class="ReNumberedList">Piety</li>
<li class="ReNumberedList">Resistance to disease</li>
<li class="ReNumberedList">A library</li>
<li class="ReNumberedList">A silver tongue</li>
<li class="ReNumberedList">Bloodline</li>
<li class="ReNumberedList">An innate spell</li>
<li class="ReNumberedList">Balance</li>
<li class="ReNumberedList">Souls</li>
<li class="ReNumberedList">Speed</li>
<li class="ReNumberedList">A sense of right and wrong</li>
<li class="ReNumberedList">Certainty</li>
<li class="ReNumberedList">An eye for detail</li>
<li class="ReNumberedList">Heroic self-sacrifice</li>
<li class="ReNumberedList">Sense of direction</li>
<li class="ReNumberedList">A big idea</li>
<li class="ReNumberedList">A hidden entrance to the city</li>
<li class="ReNumberedList">The love of someone powerful</li>
<li class="ReNumberedList">Unquestioning loyalty</li>
<li class="ReNumberedList">Exotic fruit</li>
<li class="ReNumberedList">Poison</li>
<li class="ReNumberedList">Perfect memory</li>
<li class="ReNumberedList">The language of birds</li>
<li class="ReNumberedList">A key to an important door</li>
<li class="ReNumberedList">Metalworking</li>
<li class="ReNumberedList">Mysterious benefactors</li>
<li class="ReNumberedList">Steely nerves</li>
<li class="ReNumberedList">Bluffing</li>
<li class="ReNumberedList">A trained wolf</li>
<li class="ReNumberedList">A long-lost sibling, regained</li>
<li class="ReNumberedList">An arrow with your name on it</li>
<li class="ReNumberedList">A true name</li>
<li class="ReNumberedList">Luck</li>
<li class="ReNumberedList">The attention of supernatural powers</li>
<li class="ReNumberedList">Kindness</li>
<li class="ReNumberedList">Strange tattoos</li>
<li class="ReNumberedList">A majestic beard</li>
<li class="ReNumberedList">A book in a strange language</li>
<li class="ReNumberedList">Power overwhelming</li>
<li class="ReNumberedList">Delusions of grandeur</li>
<li class="ReNumberedList">The wind at his back and a spring in his step</li></ol>
<h2>Names</h2>
<p>Finbar, Hywn, One Eye, Alhoro, Arlon, Yev, Slime, Jocat, Ewing, Lim, Poy, Milo, Deryl, Medlyn, Astrafel, Daelwyn, Feliana, Damarra, Sistranalle, Pendrell, Melliandre, Dagoliir, Baldric, Leena, Dunwick, Willem, Edwyn, Florian, Seraphine, Quorra, Charlotte, Lily, Ramonde, Cassandra, Durga, Aelfar, Gerda, Rurgosh, Bjorn, Drummond, Helga, Siggrun, Freya, Wesley, Brinton, Jon, Sara, Hawthorn, Elise, Clarke, Lenore, Piotr, Dahlia, Carmine, Hycorax, Ethanwe, Sinathel, Demanor, Menoliir, Mithralan, Taeros, Aegor, Tanner, Dunstan, Rose, Ivy, Robard, Mab, Thistle, Puck, Anne, Serah, Elana, Obelis, Herran, Syla, Andanna, Siobhan, Aziz, Pelin, Sibel, Nils, Wei, Ozruk, Surtur, Brunhilda, Annika, Janos, Greta, Dim, Rundrig, Jarl, Xotoq, Elohiir, Sharaseth, Hasrith, Shevaral, Cadeus, Eldar, Kithracet, Thelian, Finnegan, Olive, Randolph, Bartleby, Aubrey, Baldwin, Becca, Hawke, Rudiger, Gregor, Brianne, Walton</p>
