<h1>The Fighter</h1>
<div id="intro"><p>It’s a thankless job—living day to day by your armor and the skill of your arm. To dive heedlessly into danger. They won’t be playing golden horns for the time you took that knife to the ribs for them in the bar in Bucksberg. No flock of angels to sing of the time you dragged them, still screaming, from the edge of the Pits of Madness, no.</p>
<p>Forget them.</p>
<p>You do this for the guts and the glory. The scream of battle and the hot, hot blood of it. You are a beast of iron. Your friends may carry blades of forged steel but, fighter, you are steel. While your traveling companions might moan about their wounds over a campfire in the wilderness, you bear your scars with pride.</p>
<p>You are the wall—let every danger smash itself to nothing on you. In the end, you’ll be the last one standing.</p></div>
<h2>Names</h2>
<div id="names"><p ><em>Dwarf</em>: Ozruk, Surtur, Brunhilda, Annika, Janos, Greta, Dim, Rundrig, Jarl, Xotoq</p>  
<p><em>Elf</em>: Elohiir, Sharaseth, Hasrith, Shevaral, Cadeus, Eldar, Kithracet, Thelian</p>    
<p><em>Halfling</em>: Finnegan, Olive, Randolph, Bartleby, Aubrey, Baldwin, Becca</p> 
<p><em>Human</em>: Hawke, Rudiger, Gregor, Brianne, Walton, Castor, Shanna, Ajax, Hob</p></div>
<h2>Look</h2>
<div id="look"><p>Choose one for each:</p>
<p>Hard Eyes, Dead Eyes, or Eager Eyes</p>
<p>Wild Hair, Shorn Hair, or Battered Helm</p>
<p>Calloused Skin, Tanned Skin, or Scarred Skin</p>
<p>Built Body, Lithe Body, or Ravaged Body</p></div>
<h2>Stats</h2>
<p>Your maximum HP is 10+Constitution.</p>
<p>Your base damage is <span id="Damage">d10</span>.</p>
<h2>Starting Moves</h2>
<div id="startingmoves"><p class="InstructionsAfterHeader">Choose a race and gain the corresponding move:</p>
<div id="racialmoves"><h3 class="MoveName">Dwarf</h3>
<p>When you <strong>share a drink with someone</strong>, you may parley with them using CON instead of CHA.</p>
<h3 class="MoveName">Elf</h3>
<p>Choose one weapon—you can always treat weapons of that type as if they had the precise tag.</p>
<h3 class="MoveName">Halfling</h3>
<p>When you defy danger and <strong>use your small size to your advantage</strong>, take +1.</p>
<h3 class="MoveName">Human</h3>
<p>Once per battle you may reroll a single damage roll (yours or someone else’s).</p></div>
<div id="classmoves"><p class="Instructions">You start with these moves:</p>
<h3 class="BasicMoveName">Bend Bars, Lift Gates</h3>
<p>When you <strong>use pure strength to destroy an inanimate obstacle</strong>, roll+Str. ✴On a 10+, choose 3. ✴On a 7-9 choose 2.</p>
<ul><li>It doesn’t take a very long time</li>
<li>Nothing of value is damaged</li>
<li>It doesn’t make an inordinate amount of noise</li>
<li>You can fix the thing again without a lot of effort</li></ul>
<h3 class="BasicMoveName">Armored</h3>
<p>You ignore the clumsy tag on armor you wear.</p>
<h3 class="BasicMoveName">Signature Weapon</h3>
<p>This is your weapon. There are many like it, but this one is yours. Your weapon is your best friend. It is your life. You master it as you master your life. Your weapon, without you, is useless. Without your weapon, you are useless. You must wield your weapon true.</p>
<p>Choose a base description, all are 2 weight:</p>
<ul><li class="Option">Sword</li>
<li class="Option">Axe</li>
<li class="Option">Hammer</li>
<li class="Option">Spear</li>
<li class="Option">Flail</li>
<li class="Option">Fists</li></ul>
<p>Choose the range that best fits your weapon:</p>
<ul><li class="Option">Hand</li>
<li class="Option">Close</li>
<li class="Option">Reach</li></ul>
<p>Choose two enhancements:</p>
<ul><li class="Option">Hooks and spikes. +1 damage, but +1 weight.</li>
<li class="Option">Sharp. +2 piercing.</li>
<li class="Option">Perfectly weighted. Add precise.</li>
<li class="Option">Serrated edges. +1 damage.</li>
<li class="Option">Glows in the presence of one type of creature, your choice.</li>
<li class="Option">Huge. Add messy and forceful.</li>
<li class="Option">Versatile. Choose an additional range.</li>
<li class="Option">Well-crafted. -1 weight.</li></ul>
<p>Choose a look:</p>
<ul><li class="Option">Ancient</li>
<li class="Option">Unblemished</li>
<li class="Option">Ornate</li>
<li class="Option">Blood-stained</li>
<li class="Option">Sinister</li></ul></div></div>
<h2>Alignment</h2>
<p class="InstructionsAfterHeader">Choose an alignment:</p>
<div id="alignment"><h3 class="MoveName">Good</h3>
<p>Defend those weaker than you.</p>
<h3 class="MoveName">Neutral</h3>
<p>Defeat a worthy opponent.</p>
<h3 class="MoveName">Evil</h3>
<p>Kill a defenseless or surrendered enemy.</p></div>
<h2>Gear</h2>
<div id="gear"><p>Your load is 12+Str. You carry your signature weapon and dungeon rations (5 uses, 1 weight). Choose your defenses:</p>
<ul><li class="Option">Chainmail (1 armor, 1 weight) and adventuring gear (1 weight)</li>
<li class="Option">Scale armor (2 armor, 3 weight)</li></ul>
<p>Choose two:</p>
<ul><li class="Option">2 Healing potions (0 weight)</li>
<li class="Option">Shield (+1 armor, 2 weight)</li>
<li class="Option">Antitoxin (0 weight), dungeon rations (1 weight), and poultices and herbs (1 weight)</li>
<li class="Option">22 coins</li></ul></div>
<h2>Bonds</h2>
<div id="bonds"><p>Fill in the name of one of your companions in at least one:</p>
<p>_______________ owes me their life, whether they admit it or not.</p>
<p>I have sworn to protect _______________.</p>
<p>I worry about the ability of _______________ to survive in the dungeon.</p>
<p>_______________ is soft, but I will make them hard like me.</p></div>
<h2>Advanced Moves</h2>
<div id="moves"><p class="InstructionsAfterHeader">When you gain a level from 2-5, choose from these moves.</p>
<h3 class="MoveName">Merciless</h3>
<p>When you deal damage, deal +1d4 damage.</p>
<h3 class="MoveName">Heirloom</h3>
<p>When you <strong>consult the spirits that reside within your signature weapon</strong>, they will give you an insight relating to the current situation, and might ask you some questions in return, roll+CHA. ✴On a 10+, the GM will give you good detail. ✴On a 7-9, the GM will give you an impression.</p>
<h3 class="MoveName">Armor Mastery</h3>
<p>When you <strong>make your armor take the brunt of damage dealt to you</strong>, the damage is negated but you must reduce the armor value of your armor or shield (your choice) by 1. The value is reduced each time you make this choice. If the reduction leaves the item with 0 armor it is destroyed.</p>
<h3 class="MoveName">Improved Weapon</h3>
<p>Choose one extra enhancement for your signature weapon.</p>
<h3 class="MoveName">Seeing Red</h3>
<p>When you discern realities during combat, you take +1.</p>
<h3 class="MoveName">Interrogator</h3>
<p>When you <strong>parley using threats of impending violence as leverage</strong>, you may use STR instead of CHA.</p>
<h3 class="MoveName">Scent of Blood</h3>
<p>When you hack and slash an enemy, your next attack against that same foe deals +1d4 damage.</p>
<h3 class="MoveName">Multiclass Dabbler</h3>
<p>Get one move from another class. Treat your level as one lower for choosing the move.</p>
<h3 class="MoveName">Iron Hide</h3>
<p>You gain +1 armor.</p>
<h3 class="MoveName">Blacksmith</h3>
<p>When you have access to a forge you can graft the magical powers of a weapon onto your signature weapon. This process destroys the magical weapon. Your signature weapon gains the magical powers of the destroyed weapon.</p>
<p class="Instructions">When you gain a level from 6-10, choose from these moves or the level 2-5 moves.</p>
<h3 class="MoveName">Bloodthirsty</h3>
<p class="Requirement">Replaces: Merciless</p>
<p>When you deal damage, deal +1d8 damage.</p>
<h3 class="MoveName">Armored Perfection</h3>
<p class="Requirement">Replaces: Armor Mastery</p>
<p>When you <strong>choose to let your armor take the brunt of damage dealt to you</strong>, the damage is negated and you take +1 forward against the attacker, but you must reduce the armor value of your armor or shield (your choice) by 1. The value is reduced each time you make this choice. If the reduction leaves the item with 0 armor it is destroyed.</p>
<h3 class="MoveName">Evil Eye</h3>
<p class="Requirement">Requires: Seeing Red</p>
<p>When you <strong>enter combat</strong>, roll+CHA. ✴On a 10+, hold 2. ✴On a 7-9, hold 1. Spend your hold to make eye contact with an NPC present, who freezes or flinches and can’t act until you break it off. ✴On a 6-, your enemies immediately identify you as their biggest threat.</p>
<h3 class="MoveName">Taste of Blood</h3>
<p class="Requirement">Replaces: Scent of Blood</p>
<p>When you hack and slash an enemy, your next attack against that same foe deals +1d8 damage.</p>
<h3 class="MoveName">Multiclass Initiate</h3>
<p class="Requirement">Required: Multiclass Dabbler</p>
<p>Get one move from another class. Treat your level as one lower for choosing the move.</p>
<h3 class="MoveName">Steel Hide</h3>
<p class="Requirement">Replaces: Iron Hide</p>
<p>You gain +2 armor.</p>
<h3 class="MoveName">Through Death’s Eyes</h3>
<p>When you <strong>go into battle</strong>, roll+WIS. ✴On a 10+, name someone who will live <strong>and</strong> someone who will die. ✴On a 7-9, name someone who will live <strong>or</strong> someone who will die. Name NPCs, not player characters. The GM will make your vision come true, if it’s even remotely possible. ✴On a 6- you see your own death and consequently take -1 ongoing throughout the battle.</p>
<h3 class="MoveName">Eye for Weaponry</h3>
<p>When you look over an enemy’s weaponry, ask the GM how much damage they do.</p>
<h3 class="MoveName">Superior Warrior</h3>
<p>When you hack and slash on a 12+ you deal your damage, avoid their attack, and impress, dismay, or frighten your enemy.</p>