{% extends "_base.html" %}
{% block title %}The Immolator{% endblock %}
{% block body %}

<h1>The Immolator</h1>

<blockquote class="blockquote">
    <p>
            I love the word 'burn'.<br/>
            Like imagine,<br/>
            Everything's burning,<br/>
            I am on fire,<br/>
            You're on fire,<br/>
            The world is on fire,<br/>
            And I find it beautiful.<br/>
            Burning beautiful.<br/>
            It's the burning out part that's scary.
    </p>
    <footer class="blockquote-footer">
            <a href="https://hellopoetry.com/poem/1212584/burning-beautiful/">Burning Beautiful</a> by <cite title="Source Title">chuckae, Jun 2015</cite>
    </footer>
</blockquote>

<h2>Names</h2>

<div id="names">
    <p><em>Human</em>: Solomon, Timothy, Kalil, Omen, Yohn, Hiko, Agasha, Elizabeth, Harald, Fatia, Khalwa, Adur, Ignis, Yajna, Umlilo</p>

    <p><em>Salamander</em>: Sulfurheart, Flamewalker, Emberlash, Cinderclaw, Charfiend, Bittertallow, Barrowblaze, Singescale, Candlewick, Coalfang</p>
</div>

<h2>Look</h2>

<div id="look">
    <p>Choose one for each, or write your own:</p>

    <p>Strange brands, ritual scars, perfect skin</p>

    <p>Smouldering eys, warm eyes, searing eyes</p>

    <p>Crackling voice, whispering, roaring</p>

    <p>Imperious bearing, manic attitude, barely-hidden rage</p>
</div>

<h2>Stats</h2>

<p>Your maximum HP is 4+Constitution.</p>

<p>Your base damage is <span id="Damage">d8</span>.</p>

<h2>Starting Moves</h2>

<div id="startingmoves">
    <p class="InstructionsAfterHeader">Choose a race and gain the corresponding move:</p>

    <div id="racialmoves">        
        <h3 class="MoveName">Human</h3>
        
        <p>When you Make Camp next to a large, open flame, regain all of your HP.</p>
        
        <h3 class="MoveName">Salamander</h3>
        
        <p>Non-magical heat and fire cannot harm you.</p>
    </div>
</div>

<div id="classmoves">
    <p class="Instructions">You start with these moves:</p>

    <h3 class="BasicMoveName">Burning Brand</h3>

    <p>When you <strong>conjure a weapon of pure flame</strong>, roll+CON. On a 10+ choose two of the following tags, on a 7-9 choose one. You may treat your INT as your STR or DEX in regards to making attacks with this weapon. The weapon always begins with the <em>fiery, touch, dangerous</em>, and 3 <em>uses</em> tags. Each attack with the weapon consumes one use.</p>

    <ul>
        <li>hand</li>
        <li>thrown, near</li>
        <li>+1 damage</li>
        <li>remove the dangerous tag</li>
    </ul>
</div>


<h3 class="BasicMoveName">Fighting Fire with Fire</h3>

<p>When you take damage, and that damage is odd (after armor) the flames within you come to your aid. Roll 1d4 and either add that many uses to your burning brand (if active), take that result forward to summon your burning brand, or reduce the damage by that amount, your choice.</p>

<h3 class="BasicMoveName">Give Me Fuel, Give Me Fire</h3>

<p>When you <strong>gaze intensely into someones eyes</strong>, you may ask their player “what fuels the flames of your desire?” they’ll answer with the truth, even if the character does not know or would otherwise keep this hidden.</p>

<h3 class="BasicMoveName">Zuko Style</h3>

<p>When you <strong>bend a flame to your will</strong>, roll+WIS. On a 10+ it does as you command, taking the shape and movement you desire for as long as it has fuel on which to burn. On a 7-9 the effect is short-lived, lasting only a moment.</p>

<h3 class="BasicMoveName">Hand Crafted</h3>

<p>You may use your hands in place of tools and fire to craft metal objects. Mundane weapons, armor and metal jewellery can all be formed from their raw components. You may unmake these things, as well, but to do so without time and safety might require that you Defy Danger first.</p>

<h2>Alignment</h2>

<p class="InstructionsAfterHeader">Choose an alignment:</p>

<div id="alignment">
    <h3 class="MoveName">Evil</h3>

    <p>Sacrifice an unwilling victim to the flames.</p>

    <h3 class="MoveName">Chaotic</h3>

    <p>Spread a dangerous new idea.</p>

    <h3 class="MoveName">Neutral</h3>

    <p>Exchange a sacrifice, freely given, for a service rendered.</p>
</div>

<h2>Gear</h2>

<div id="gear">
    <p>Your load is 9+STR. You carry no weapons and need no armor but the flames that burn within you. You begin with:</p>

    <ul>
        <li class="Option">A <strong>Symbol</strong> of your sacrifices past, describe it: ______________</li>

        <li class="Option">Adventuring Gear (5 uses, 1 weight)</li>

        <li class="Option">1 Healing Potion (0 weight)</li>
    </ul>

    <p><em>Choose two:</em></p>

    <ul>
        <li class="Option">Dungeon Rations (5 uses, ration, 1 weight)</li>

        <li class="Option">1 Healing Potion (0 weight)</li>

        <li class="Option">10 Coins</li>
    </ul>
</div>

<h2>Bonds</h2>

<div id="bonds">
    <p>Fill in at least one with the name of a companion, or write your own.</p>

    <p>____________________ has felt the hellish touch of fire, now they know my strength.</p>

    <p>I will teach ______________ the true meaning of sacrifice.</p>

    <p>I cast something into the fire for ________________ and still owe them their due.</p>
</div>

<h2>Advanced Moves</h2>

<div id="moves">
    <p class="InstructionsAfterHeader">When you gain a level from 2–5, choose from these moves.</p>

    <h3 class="MoveName">Lore Of Flame</h3>

    <p>When you <strong>stare into a source of fire</strong>, looking for answers, roll+WIS. On a hit, the GM will tell you something new and interesting about the current situation. On a 10+, the GM will give you good detail. On a 7–9, the GM will give you an impression. If you already know all there is to know, the GM will tell you that.</p>

    <h3 class="MoveName">Burns Twice As Bright</h3>

    <p>When you <strong>channel the flames of fate</strong>, you may treat a missed roll as a 7-9 or a 7-9 result as a 10+. This may be a roll you or another character has made. Tell the GM something you’ve lost; an emotion, a memory or some innate piece of your being. You may not use this move again until you’ve used Burns Half As Long.</p>

    <h3 class="MoveName">Burns Half As Long</h3>

    <p class="Requirement">You gain this move when you gain Burns Twice As Bright</p>
        
    <p>When you <strong>sacrifice a victory to the flames of fate</strong>, treat any roll of 10+ as a miss.</p>

    <h3 class="MoveName">This Killing Fire</h3>

    <p>Add the following tags to your options for Burning Brand: <em>messy, forceful, reach, near, far</em>.</p>

    <h3 class="MoveName">Firebrand</h3>

    <p>When you <strong>introduce a new idea to an NPC</strong>, roll+CHA. On a 10+ They believe the idea to be their own and take to it with fervour On a 7-9, Their passion fades after a day or two. On a miss, they respond negatively, speaking out against the idea.</p>

    <h3 class="MoveName">Ogdru Jahad</h3>

    <p>Gain the Wizard move Ritual. The GM will always tell you what you have to sacrifice to gain the effect you desire.</p>

    <h3 class="MoveName">Moth To The Flame</h3>

    <p>When you <strong>tempt a weak mind with your inner fire</strong>, roll+WIS. On a 10+ their will is suppressed, they’ll follow you and do as you desire, so long as nothing startles or surprises them. On a 7-9, the effect is only strong enough to distract or confuse them. On a miss, they become agitated and upset, your fire having sparked their hidden desires.</p>

    <h3 class="MoveName">Indestructible Hunger</h3>

    <p>When you <strong>would take your last breath</strong>, don’t. Instead, you may erase one of your Bonds. This is permanent and lowers your total available Bonds forever. You are alive and have 1d6 hp. If you have no more Bonds, take your last breath as normal.</p>

    <h3 class="MoveName">The Enkindler</h3>

    <p>When you <strong>bolster the courage of others</strong> roll+CHA. On a 10+ they shake off all fear and doubt, becoming brave in an instant. On a 7-9, this effect is fleeting, they realize its superficiality and resort to cowardice after a moment or two. On a miss, they’re cowed or terrified by your presence.</p>

    <h3 class="MoveName">Sick Burn</h3>

    <p>When you <strong>insult an NPC</strong>, roll + CHA. On a 10+ you leave them no room to react, they bear your insult and the scorn of all who hear it. On a 7-9 you cross a line, they will have their revenge, someday. On a miss you've gone too far, they blow up here and now.</p>

    <p class="InstructionsAfterHeader">When you gain a level from 6–10, choose from these moves.</p>

    <h3 class="MoveName">From Hell’s Heart</h3>

    <p>When you <strong>summon</strong> fire with any of your moves, you can replace it with the black fires of hell itself. This fire does not burn with heat and ignores armor, scorching the soul itself. Those creatures without souls cannot be harmed by this type of flame.</p>
    
    <h3 class="MoveName">Burning Ring Of Fire</h3>
    <p>When you <strong>fuse a willing person’s soul to yours</strong>, roll+CHA. On a hit you are bound together, able to sense each other at any distance, as well as sharing your emotional state. On a 7-9, the connection is unstable and dangerous, when you take a debility, so do they (and vice versa). On a miss, the branding is rejected and you both erase any Bonds you have to each other. You may write new Bonds with them at the End of Session as usual. This fusion, once performed, cannot be undone by mortal means.</p>

    <h3 class="MoveName">Fanning The Flames</h3>

    <p class="Requirement">Requires: Firebrand</p>

    <p>You may apply the effects of your Firebrand move to a group of people - a dozen or so - all at once.</p>
    
    <h3 class="MoveName">Watch The World Burn</h3>
    
    <p>When you <strong>a channel to the burning planes</strong> and call a firestorm, tell the GM what you’re sacrificing and roll+WIS. The sky opens up and fire pours like rain from it within an area about equal to a small village. Everyone and everything in the area takes damage as appropriate. On a 10+ you can extinguish the storm with a little effort. On a 7-9 the fires rage out of your control, spreading and gusting where they are carried by wind and weather. On a miss, something cruel, intelligent and hungry comes with the storm.</p>
</div>





{% endblock %}
