{% extends "_base.html" %}
{% block title %}Dungeon World{% endblock %}
{% block body %}

<h1>Dungeon World</h1>

<div class="alert alert-warning" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>
    Over the while I am planning on completing the following: 
    <ul>
      <li><del>Correcting the license</del></li>
      <li><del>Updating frameworks used by the site</del></li>
      <li>
        <del>Finishing up cleaning up the formatting of all the content so that it looks consistent.</del>
        <ul>
          <li><del>Playing</del></li>
          <li><del>Classes</del></li>
          <li><del>GMing</del></li>
          <li><del>Monsters</del> - note that some of the names in navigation have been corrected</li>
          <li><del>Appendices</del> - add missing tag reference</li>
        </ul>
      </li>
      <li>
          <del>Updating the content based on revisions to the source material</del>
          <ul>
            <li><del>Apply changes from github</del></li>
          </ul>
      </li>
      <li><del>Adding missing material</del>
        <ul>
            <li><del>Add Barbarian</del></li>
            <li><del>Add Immolator</del></li>
        </ul>
      </li>
      <li>Adding search functionality</li>
    </ul>
  </p>
  <p>
    As I work on things, you may notice things looking off. Try a force refresh, if that doesn't 
    work be sure to contact me and I will see if there is an issue with the site.
  </p>
</div>

<h3>Buy Dungeon World</h3>

<ul>
    <li>
        <a href="http://www.indiepressrevolution.com/xcart/product.php?productid=18774&amp;cat=0&amp;featured=Y">Indie Press Revolution (Print + PDF)</a>
    </li>
    <li>
        <a href="http://rpg.drivethrustuff.com/product/108028/Dungeon-World">DiveThruRPG (PDF)</a>
    </li>
</ul>

<h3>Revision July 8, 2015 (<a href="https://github.com/Sagelt/Dungeon-World/commit/c661afa3fed32254205d8e621d9776967740c8f2">c661afa</a>)</h3>

<p>Based on the work of Sage LaTorra and Adam Koebel. This work is licensed under the <a href="license.html">Creative Commons Attribution 3.0 Unported License, and the Open Gaming License</a>.</p>

{% endblock %}