{% extends "_base.html" %}
{% block title %}Dungeon World{% endblock %}
{% block body %}

<h1>Dungeon World</h1>

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>
    I'm working on prepping a standardized version of these html
    files for public distribution, so I am stripping all proprietary content, hence the
    change in appearance. If you encounter any issues with styling or functionality
    please use the contact link above to let me know. Thanks. 
  </p>
  <p>
    I also noticed that I was using the abbreviated moves text, not the full text from the book so that was added. I also noticed the example of play was missing from the navigation so that was added back in. If you have a chance please compare these texts to the book to make sure everything and says the same thing.
  </p>
  <p>
    <strong>-Jeffrey</strong>
  </p>
</div>

<h3>Buy Dungeon World</h3>

<ul>
    <li>
        <a href="http://www.indiepressrevolution.com/xcart/product.php?productid=18774&amp;cat=0&amp;featured=Y">Indie Press Revolution (Print + PDF)</a>
    </li>
    <li>
        <a href="http://rpg.drivethrustuff.com/product/108028/Dungeon-World">DiveThruRPG (PDF)</a>
    </li>
</ul>

<h3>June 12, 2013 (<a href="https://github.com/Sagelt/Dungeon-World/commit/24e5777e855c5973594986e73e55fb5a0be284aa">24e5777e85</a>)</h3>

<p>Based on the work of Sage LaTorra and Adam Koebel. This work is licensed under the Creative Commons Attribution 3.0 Unported License</p>

{% endblock %}